*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
body {
    width: 100vw;
    height: 100vh;
}
hr{
    margin: 20px 0;
    padding: 0;
    width: 100%;
    border-top: solid 1px lightblue;
    box-shadow: 0 0 5px lightblue;
}
.disp-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.width-100{width: 100%}
.padding-10{
    padding: 10px;
}
.padding-5{padding: 5px}
.underlined{
    text-decoration: underline 1px lightblue;
 }
.text-centered{
    text-align: center;
}
.text-started{
    text-align: start;
}
.border-blue{
    border: lightblue solid 1px;
    border-radius: 3px;
}
.no-focus:focus{
    outline: none;
}
.header{
    font-size: 24px;
    font-weight: lighter;
}
.card{
    width: 400px;
    height: 350px;
    border-radius: 5px;
    box-shadow: 0 0 10px lightblue;
    justify-content: space-between;
}

.card__form-container__form__submit{
    background: lightblue;
    color: #fff;
}
.card__form-container__form__text{
    width: 55%;

}
